.navbar ul{
            list-style-type: none;
            background-color: rgb(156, 156, 156);
            padding: 0%;
            margin: 0px;
            overflow: hidden }
        .navbar a{
            color:black;
            text-decoration: none;
            padding: 15px;
            text-align: center;
            display: block;
        }
        .navbar a:hover{
            background-color: rgb(153, 149, 149);
        }
        .navbar li{
            float: left;
        }
        body{
        background: aqua;
        }
        main{
            margin: 20px;
        }
       
       footer{
        background: white;
        font-size: 18px;
        padding: 10px;
        text-align: center;
        position: absolute;
        right: 0%;
        left: 0%;
        bottom: 0%;
       }
       label{
        font-size: 30px;
       }
         

        
      
      
        
